{
    "extends": "vtex",
    "root": true,
    "env": {
      "node": true
    },
    "rules": {
      "no-console": "off",
      "@typescript-eslint/explicit-member-accessibility": "off",
      "no-template-curly-in-string": "off",
      "max-params": "off"
    }
}
